.backgrounds-divs{
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-attachment: fixed;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.illusion{
    background-color: #00000026;
    background-size: contain;
    height: 600px;
}


.big-title{
    color: #f0f0f0;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-align: center;
}


.p-banner{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.container-logotype{
    height: 110px;
    width: 110px;
    background-size: cover;
}

.nav-item{
    padding: 41.7px 10px 0px 10px;
}

.nav-link{
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.border-active{
    border: 2px solid black;
}

.history {
    text-align: center;
    padding: 2.5% 5%;
}

.h2-title{
    font-size: 1.8rem;
    color: #575757;
    font-family: 'Lato', sans-serif;
    
}

.hr-horizontal{
    border: 3.3px solid #4b4b4b;
    border-radius: 3px;
    margin-bottom: 12.1px;
}

.p-history{
    font-size: 1.2rem;
    color: #404040;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}

.icons-show-information{
    margin-top: 4%;
    font-size: 2.5rem;
    color: #2e2e2e
}

.hr-icons{
    border: 2px solid #2e2e2e;
    width: 25%;
}

.down-icons-description{
    font-size: 1.2rem;
    font-weight: 500;
}

.container-information{
    font-size: 1.1rem;
    padding: 5px 10.1px;
    color: #000000ba;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.transparenci{
    position: relative;
    top: 0px ;
    left: 0px;
    z-index: 2;
}

.icons i{
    margin-bottom: 79.2%;
    font-size: 1.8rem;
    color: #434343b8;
}

.container-icons{
    width: 3%;
    margin: 4.3% 3%;
}

.direction{
    padding: 31.9% 0% 4.9% 57.6%;
    color: white;
}

.pictures img{
    width: 140px;
}

.more-pictures{
    margin-top: 5%;
}

.pictures{
    float: left;
}

.active{
    border-bottom: 4px solid rgb(44, 44, 44);
}

.description{
    background-color: black;
    height: auto;
    width: 340px;
    float: right;
    z-index: 2;
    position: relative;
    top: -100px;
    left: -85px;
    padding: 3.3% 2%;
    color: white;
    font-family: 'Lato', sans-serif;
}

.description h4{
    font-weight: bold;
    font-size: 1.7rem;
}

.description p{
    font-size: 1.1rem;
    font-weight: 500;
}

.description hr{
    height: 5px;
    background-color: white;
    margin-right: 65%;
}

.image-product{
    float: left;
}

.rounded-pill{
    background: black;
    border: 3.8px solid white;
    color: white;
    padding: 7.3px 30.4px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 7.4%;
}

.last-price{
    font-size: 1rem;
}

.last-price label{
    text-decoration: line-through;
}

.for-between{
    background-color: white;
}

.recients{
    float: left;
}

.contain-backimage{
    width: 100%;
    height: 220px;
    float: left;
    background-size: cover;
}