.backgrounds-divs{
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.illusion{
    background-color: #00000026;
    background-size: contain;
    height: 600px;
}


.big-title{
    color: #f0f0f0;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-align: center;
}


.p-banner{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.container-logotype{
    height: 110px;
    width: 110px;
    background-size: cover;
}

.nav-item{
    padding: 41.7px 10px 0px 10px;
}

.nav-link{
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.border-active{
    border: 2px solid black;
}

.history{
    padding: 4.1% 17.1%;
    text-align: center;
}

.h2-title{
    font-size: 1.8rem;
    color: #575757;
    font-family: 'Lato', sans-serif;
    
}

.hr-horizontal{
    border: 3.3px solid #4b4b4b;
    border-radius: 3px;
    margin-bottom: 12.1px;
}

.p-history{
    font-size: 1.2rem;
    color: #404040;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}

.icons-show-information{
    margin-top: 8%;
    font-size: 2.5rem;
    color: #2e2e2e
}

.hr-icons{
    border: 2px solid #2e2e2e;
    width: 25%;
}

.down-icons-description{
    font-size: 1.2rem;
    font-weight: 500;
}